.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust as needed */
    width: 100px; /* Adjust as needed */
    top:45%;
    position: absolute;
  }
  
  .spinner {
    width: 40px; /* Adjust spinner size */
    height: 40px; /* Adjust spinner size */
    border: 4px solid #f3f3f3; /* Spinner border color */
    border-top: 4px solid #000000; /* Spinner top color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  