@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  
  .neon {
    font-family: Orbitron; /* Using the custom neon font */
    color: hsla(0, 0%, 100%, 0.541); /* White (Dark Mode Text & Light Mode Elements) */
    font-size: 50px;
    text-shadow: 0 0 1vw hsl(209, 23%, 22%); /* Dark Blue (Dark Mode Elements) */
    animation: neon 10s ease infinite; /* Neon animation */
  }
  
  .flux {
    font-family: Orbitron; /* Using the custom neon font */
    color: hsla(0, 0%, 100%, 0.555); /* White (Dark Mode Text & Light Mode Elements) */
    font-size: 50px;
    text-shadow: 0 0 1vw hsl(207, 26%, 17%); /* Very Dark Blue (Dark Mode Background) */
    animation: flux 10s linear infinite; /* Flux animation */
  }
  
  @keyframes neon {
    0%, 100% {
      text-shadow: 0 0 1vw hsl(209, 23%, 22%), 0 0 3vw hsl(209, 23%, 22%), 0 0 10vw hsl(209, 23%, 22%), 0 0 10vw hsl(209, 23%, 22%), 0 0 .4vw hsl(200, 15%, 8%), .5vw .5vw .1vw hsl(200, 15%, 8%);
      color: hsl(200, 15%, 8%);
    }
    50% {
      text-shadow: 0 0 .5vw hsl(200, 15%, 8%), 0 0 1.5vw hsl(200, 15%, 8%), 0 0 5vw hsl(200, 15%, 8%), 0 0 5vw hsl(200, 15%, 8%), 0 0 .2vw hsl(200, 15%, 8%), .5vw .5vw .1vw hsl(200, 15%, 8%);
      color: hsl(209, 23%, 22%);
    }
  }
  
  @keyframes flux {
    0%, 100% {
      text-shadow: 0 0 1vw hsl(207, 26%, 17%), 0 0 3vw hsl(207, 26%, 17%), 0 0 10vw hsl(207, 26%, 17%), 0 0 10vw hsl(207, 26%, 17%), 0 0 .4vw hsl(0, 0%, 100%), .5vw .5vw .1vw hsl(0, 0%, 100%);
      color: hsl(0, 0%, 100%);
    }
    50% {
      text-shadow: 0 0 .5vw hsl(0, 0%, 100%), 0 0 1.5vw hsl(0, 0%, 100%), 0 0 5vw hsl(0, 0%, 100%), 0 0 5vw hsl(0, 0%, 100%), 0 0 .2vw hsl(0, 0%, 100%), .5vw .5vw .1vw hsl(0, 0%, 100%);
      color: hsl(207, 26%, 17%);
    }
  }
  